* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    /* Adjusted for the fixed navbar height */
    scroll-behavior: smooth;
    font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman",
        "serif";
}

#material-menu-bar {
    background-color: #2185a0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-bar-material {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

.menu-bar-material ul {
    display: flex;
    list-style: none;
    position: relative;
    padding-top: 10px;

}

.menu-bar-material ul>li {
    margin-right: 20px;
}

.menu-bar-material ul>li>a {
    color: white;
    font-size: 16px;
    padding: 15px;
    text-decoration: none;

}

.menu-bar-material ul>li>a:hover {
    color: white;
    background-color: #25a989;
    border-radius: 10px;

}

/* Main Contain */


.section {
  padding-top: 100px;
}



/* Slider of what is stainless steel */

.slider-material-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-material-img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

..slide-material-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}



/* Composation Property */

.ss-compo-wrapper {
  position: relative;

}

.ss-compo-wrapper h2 {
  font-weight: bold;
}

.ss-compo-wrapper p {
  text-align: justify;

}
.ss-compo-wrapper p > span {
  font-weight: bold;
}

.compo-chart {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.compo-chart img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;

}